.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
}

.board-square {
    width: 50px;
    height: 30px;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.zero {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.one {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.two {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.three {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.four {
    border: 1px solid black;
}

.five {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.six {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.seven {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.eight {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.X::after {
    content: 'X';
    vertical-align: -25%;
}

.O::after {
    content: 'O';
    vertical-align: -25%;
}


#game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
button {
    width: 100px;
    height: 20px;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 5px;
}
button:hover {
    background-color: yellow;
}
